<h1> Description </h1>

In [1]:
# The code was removed by Watson Studio for sharing.

               Date     Open     High      Low    Close  Volume
0  2018-04-12 10:00  1.23343  1.23355  1.23284  1.23331    3629
1  2018-04-12 10:15  1.23332  1.23395  1.23306  1.23347    4053
2  2018-04-12 10:30  1.23346  1.23355  1.23296  1.23328    3216
3  2018-04-12 10:45  1.23328  1.23361  1.23320  1.23331    2176
4  2018-04-12 11:00  1.23331  1.23331  1.23281  1.23292    2071